body{
    background: url('../img/sfondo-legno.jpg');
}

.buttons-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button{
    margin: 0 15px;
    border-radius: 40px;
    padding: 15px;
}

.hide{
    display: none;
}

.box{
    width: 60px; 
    height: 60px; 
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.light-blue{
    background-color: rgb(108, 202, 240);
}

.red{
    background-color: red;
}

.back{
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

.end{
    display: none;
    
}


.end1{  
    font-size: 80px;
    color: white;
    text-shadow: 5px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.results{
    padding: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px black;
    font-weight: bold;
    background-color: white;
    color: black;
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: center;
    display: none;
}